{% extends 'base.html' %}
{% load mkdx %}

{% block content %}
<div>
    {% for section in sections_zone1 %}
    <div class='index-section{% if section.focus %} section-focus{% endif %}'>
        <h2>{{section.title}}</h2>

        {{section.content|mkdx|safe}}
    </div>
    {% endfor %}
</div>

<div class="row">
	<div class="six columns">
	<h2>News</h2>
		<ul class="news">
				{% for ni in news_items %}
						<li><a href='{% url 'newsitem-detail' ni.slug %}'>{{ni.title}}</a></li>
				{% endfor %}
		</ul>
	</div>
	<div class="six columns">
	<h2>Events</h2>
		<ul>
				{% for d in events %}
				<li>{{d.date|date:'Y, M d'}} - <a href='{% url 'event-detail' d.event.slug %}'>{{d.event.name}}</a></li>
				{% endfor %}
		</ul>
	</div>
</div>

<div>
    {% for section in sections_zone2 %}
    <div class='index-section{% if section.focus %} section-focus{% endif %}'>
        <h2>{{section.title}}</h2>

        {{section.content|mkdx|safe}}
    </div>
    {% endfor %}
</div>
{% endblock %}
